.contact {
    z-index: 2;
    color: #ffff;
    position: relative;
    padding: 10rem 3% 0 3%;

    font-family: 'Montserrat';
}

.contact__title {
    letter-spacing: 8px;
    text-transform: uppercase;
    position: relative;
    margin: 4rem 0;
}

.contact__title::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 18px;
    width: 230px;
    border-bottom: 3px solid;

    animation: titleAnim 1s infinite;
}

#dark .contact__title::after {
    border-color: var(--main-dark-background);
}

#light .contact__title::after {
    border-color: var(--main-light-background);
}

#dark .contact__title {
    color: var(--second-dark-color);
}

#light .contact__title {
    color: var(--second-light-color);
}

.contact__card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0 auto;
    padding: 1rem 0;

    width: 100%;
    height: 300px;
}


.card__social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 20%;

    position: relative;
}

.media__line {
    position: absolute;

    width: 1px;
    height: 320px;
    opacity: .5;

    z-index: 3;
}

#dark .media__line {
    background-color: var(--second-borderColor-dark);
}

#light .media__line {
    background-color: var(--second-borderColor-dark);
}

.media__spot {
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: spot__spinner .6s infinite forwards;
}

.media__spot span {
    display: inline-block;
    width: 15px;
    height: 1px;
}

.media__spot:nth-child(1) {
    left: -7px;
    top: 83px;
}

.media__spot:nth-child(2) {
    left: -7px;
    top: 8px;
}

.media__spot:nth-child(3) {
    left: -7px;
    top: 153px;
}

.media__spot:nth-child(4) {
    left: -7px;
    top: 223px;
}

.media__spot:nth-child(5) {
    left: 70px;
    top: 50px;
}

.media__spot span:first-child {
    transform: rotate(40deg) translate(0px, 0px);
}

.media__spot span:last-child {
    transform: rotate(-40deg) translate(1px, -1px);
}

#dark .media__spot span {
    background-color: var(--second-borderColor-dark);
}

#light .media__spot span {
    background-color: var(--second-borderColor-dark);
}

@keyframes spot__spinner {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card__social-media a {
    z-index: 4;
}

#dark .icon__bg {
    background-color: var(--main-dark-background);
    border-radius: 100px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

#light .icon__bg {
    background-color: var(--main-light-background);
    border-radius: 100px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.card__info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__info h1 {
    font-size: 1.7rem;
    letter-spacing: 3px;
    font-weight: 900;
    transform: skew(-20deg);
    position: relative;
}

#dark .card__info h1 {
    text-shadow: -5px 2px 1px #483b70;
    color: #FFFFFF;
}

#light .card__info h1 {
    text-shadow: -5px 2px 1px #23194231;
    color: #000000;
}

.card__info h1::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: -9px;
    left: 0;
    width: 200px;
    height: 5px;
    border-radius: 10px;
    animation: h1Anim 3s infinite;
}

#dark .card__info h1::after {
    background-color: #5E548E;
    box-shadow: 0px 30px 100px 20px #5E548E;
}

#light .card__info h1::after {
    background-color: #b2a9e050;
    box-shadow: 0px 30px 100px 20px #b2a9e09f;
}

@keyframes h1Anim {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.info__call {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
}

.info__call div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin: 1rem 0;
}

.info__call div p {
    font-size: 1.6rem;
    margin-left: .5rem;
    letter-spacing: 1.5px;
    transform: skew(-15deg);
}

#dark .info__call div p {
    color: var(--second-dark-color);
    text-shadow: -5px 4px 1px #231942;
}

#light .info__call div p {
    font-weight: 600;
    color: var(--second-light-color);
    text-shadow: -5px 4px 1px #d4d3d6;
}

.visitors {
    margin: 5rem 0 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 60px;
}

.visitors p:nth-child(2) {
    letter-spacing: 2px !important;
}



/*******/
/*************/
/*********************/
/******************************/
/***************************************/
/****************** media query *****************/
/***************************************/
/******************************/
/*********************/
/*************/
/*******/


@media only screen and (min-width: 950px) {
    .card__info h1 {
        font-size: 2.7rem;
        letter-spacing: 3px;
        font-weight: 900;
        text-shadow: -5px 4px 1px #231942;
        transform: skew(-30deg);
    }

    .card__info h1::after {
        top: -9px;
        width: 300px;
    }


    .info__call div p {
        font-size: 2rem;
        margin-left: .5rem;
        letter-spacing: 1.5px;
        font-weight: 600;
        text-shadow: -5px 4px 1px #231942;
        transform: skew(-15deg);
    }
}