.home {
    width: 100%;
    height: fit-content;
    font-family: 'Montserrat';

    padding: 0 1%;
}

#dark .home {
    background-color: var(--main-dark-background);
}

#light .home {
    background-color: var(--main-light-background);
}


/* background */
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#dark .background {
    background: #191919;
}

#light .background {
    background: #ffffff;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 39s linear infinite;
}

#dark .background li {
    background: rgba(255, 255, 255, 0.2);
}

#light .background li {
    background: rgba(59, 58, 58, 0.2);
}

.background li:nth-child(0) {
    left: 64%;
    width: 32px;
    height: 32px;
    bottom: -32px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 18%;
    width: 12px;
    height: 12px;
    bottom: -12px;
    animation-delay: 4s;
}

.background li:nth-child(2) {
    left: 45%;
    width: 27px;
    height: 27px;
    bottom: -27px;
    animation-delay: 5s;
}

.background li:nth-child(3) {
    left: 64%;
    width: 12px;
    height: 12px;
    bottom: -12px;
    animation-delay: 11s;
}

.background li:nth-child(4) {
    left: 8%;
    width: 37px;
    height: 37px;
    bottom: -37px;
    animation-delay: 5s;
}

.background li:nth-child(5) {
    left: 41%;
    width: 48px;
    height: 48px;
    bottom: -48px;
    animation-delay: 2s;
}

.background li:nth-child(6) {
    left: 88%;
    width: 35px;
    height: 35px;
    bottom: -35px;
    animation-delay: 7s;
}

.background li:nth-child(7) {
    left: 86%;
    width: 27px;
    height: 27px;
    bottom: -27px;
    animation-delay: 23s;
}








/*******/
/*************/
/*********************/
/******************************/
/***************************************/
/****************** media query *****************/
/***************************************/
/******************************/
/*********************/
/*************/
/*******/

@media only screen and (min-width: 600px) {
    .home {
        padding: 0 5%;
    }
}

@media only screen and (min-width: 750px) {
    /* .home {
        max-height: 100vh;
    } */
}

@media only screen and (min-width: 1024px) {
    .home {
        padding: 0 8%;
    }
}

@media only screen and (min-width: 1300px) {
    .home {
        max-width: 1800px;
    }
}