.myProject {
    z-index: 2;
    color: #ffff;
    position: relative;
    padding: 5rem 3% 5rem 3%;

    font-family: 'Montserrat';
}

.projects__title {
    letter-spacing: 8px;
    text-transform: uppercase;
    position: relative;
    margin: 3rem 0;
}

#dark .projects__title {
    color: var(--second-dark-color);
}

#light .projects__title {
    color: var(--second-light-color);
}

.projects__title::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 18px;
    width: 240px;
    border-bottom: 3px solid;

    animation: titleAnim 1s infinite;
}

#dark .projects__title::after {
    border-color: var(--main-dark-background);
}

#light .projects__title::after {
    border-color: var(--main-light-background);
}

.box__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

.card__box {
    width: 342px;
    height: 350px;
    max-height: 570px;
    margin: 1.5rem 0;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--first-borderColor-dark);
    box-shadow: 0px 0px 30px -10px var(--first-boxShadow-dark-color);
    backdrop-filter: blur(4px);
}

#dark .card__box {
    background: rgba(255, 255, 255, 0.048);
}

#light .card__box {
    background: rgba(255, 255, 255, 0.1);
}

.card__image {
    width: 340px;
    height: 170px;
    max-height: 170px;
    border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    object-fit: fill;
}

.card__name {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 1rem 2rem;
    align-self: flex-start;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .5px;
    padding: 0rem 2rem;
    width: 100%;
}

#dark .card__title {
    color: #c4c4c4;
}

#light .card__title {
    color: var(--third-light-color);
}

.failure {
    color: rgb(221, 57, 57);
}

.success {
    color: rgb(62, 204, 62);
}

.development {}

.card__status {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__status p {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    align-self: flex-start;
}

#dark .card__status p {
    color: #c4c4c4;
}

#light .card__status p {
    color: var(--third-light-color);
}

.card__btn {
    width: 150px;
    height: 35px;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--second-dark-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}